:root{
  --primary-color: #8E1E17;
  --bg-color: #242526;
  --body-bg: #18191A;
  --light-text: #888181;
}

body {
  background-color: var(--body-bg);
  color: #fff;
}
.bg-primary-color{
  background-color: var(--bg-color);
}
.btn-red{
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-black{
  color: #fff;
  background-color: var(--body-bg);
  border: 1px solid var(--body-bg);
}